@model List<NewAPI.model.Persons>

<h1>Rogers Customer Details for Sector 5</h1>

@foreach (var person in Model)
{
    <span>Name: @person.first_name</span> <span>@person.last_name</span>
    <p>Email: @person.email</p>
    <p>Gender: @person.gender</p>
    <p>IP Address: @person.ip_address</p>
    <p>----------------------------------------------------------------</p>
    <br />

}